
</div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
				CinémaLux
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>

    <script type="text/javascript">
    var wsUrl = 'http://51.75.125.249:8080';
    </script>
    <script src="{{ asset('') }}js/StatusServerWebsocket.js"></script>
<!-- Bootstrap core JavaScript-->
    <script src="{{ asset('') }}Theme/vendor/jquery/jquery.min.js"></script>
    <script src="{{ asset('') }}../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('') }}Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('') }}Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ asset('') }}Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('') }}Theme/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('') }}Theme/js/demo/datatables-demo.js"></script>

  </body>
