{% include 'header.html.twig'%}

<div class="panel-body">
	<div class="table-responsive">
		<div class="row">
    	<div class="col-sm-10"><h3>{{partie.nom}}</h3></div>
			<div class="col-sm-2 ">
				<div class=pull-right>
					<a href="{{ path('PartiePlayStart', { 'id': partie.id }) }}" target=_blank><i class="fa fa-play"></i></a>
					<a href="{{ path('PartieCloner', { 'id': partie.id }) }}"><i class="fas fa-clone"></i></a>
					<a href="{{ path('PartieModifier', { 'id': partie.id }) }}"><i class="fa fa-pencil"></i></a>
					<a href="{{ path('PartieSupprimer', { 'id': partie.id }) }}"><i class="fa	fa-trash"></i></a>
					<a href="{{ path('PartieFichePresentateur', { 'id': partie.id }) }}"><i class="far fa-clipboard"></i></a>
				</div>
			</div>
  	</div>

		<table class="table table-bordered table-striped">
			<tr><td>Thème : </td><td>{{partie.theme}}</td></tr>
			<tr><td>Déscription : </td><td><p>{{partie.description}}</p></td></tr>
			<tr><td>image de fond : </td><td>
			{%if  partie.imagefondname != null%}
			<img src="{{ asset('uploads/imageFond/' ~ partie.imagefondname) }}" alt="Image de fond  de la partie {{partie.nom}}" height="180" width="360">
			{%else%}
			<p>Aucune image</p>
			{%endif%}
			</td></tr>

			<tr><td>Date de la partie : </td><td>{{partie.date|date("d/m/Y")}}</td></tr>
		</table>


		<div class="row">
			<div class="col-sm-10"><h4>Question :</h4></div>
			<div class="col-sm-2 ">
				<div class=pull-right>
					<a href="{{ path('QuestionAjouter', { 'id': partie.id }) }}"><i class="fa fa-plus"></i></a>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped">
			{% for e in questions %}
					<tr>
						<td>
							<div class="row">
								<div class="col-sm-10"><h5>{{ e.numero }} - {{ e.libelle }}</h5></div>
								<div class="col-sm-2 ">
									<div class=pull-right>
										<a href="{{ path('QuestionModifier', { 'id': e.id }) }}"><i class="	fa fa-pencil"></i></a>
										<a href="{{ path('QuestionUp', { 'id': e.id }) }}"><i class="fa fa-sort-asc"></i></a>
										<a href="{{ path('QuestionDown', { 'id': e.id }) }}"><i class="fa fa-sort-desc"></i></a>
										<a href="{{ path('QuestionSupprimer', { 'id': e.id }) }}"><i class="fa	fa-trash"></i></a>
										<a href="{{ path('ReponsePossibleAjouter', { 'id': e.id }) }}"><i class="	fa fa-plus"></i></a>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<table class="table table-bordered table-striped">
								{% for i in e.reponsespossible %}
								<tr>
									<td>
										<div class="row">
											<div class="col-sm-10">
												{%if  i.correct%}
												<p class="text-success">{{ i.libelle }}</p>
												{% else %}
												<p class="text-danger">{{ i.libelle }}</p>
												{% endif %}
											</div>
											<div class="col-sm-2 ">
												<div class=pull-right>
											<a href="{{ path('ReponsePossibleModifier', { 'id': i.id }) }}"><i class="	fa fa-pencil"></i></a>
											<a href="{{ path('ReponsePossibleSupprimer', { 'id': i.id }) }}"><i class="fa	fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% else %}
								<tr><td>Aucune reponse</td></tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					{% else %}
					<tr><td>Aucune question</td></tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html.twig'%}
