{% include 'headerPlay.html.twig' with {'partie': partie} only %}


<div class="row justify-content-center" style="margin-top :5%;">
    <h1  style="font-size: 100.0px;color:{{question.partie.colortitre}};" class="text-center">{{question.partie.nom}} </h1>
</div>
<div class="row justify-content-center ">
	<div class="col-md-10 ">
		<p style="font-size: 30.0px;color:{{question.partie.colortext}};">{{partie.description}} </p>
	</div>
</div>

<div class="row justify-content-center ">
		<p style="font-size: 40.0px;color:{{question.partie.colortext}};">Nombre de participant :  {{partie.utilisateurs|length}}</p>
</div>





<script>
document.addEventListener('keydown', (event) => {
  const nomTouche = event.key;

  if (nomTouche === 'Enter') {
    window.location.replace("{{ path('PlayQuestion', { 'id': question.id}) }}");
  }
  if (nomTouche === 'Escape') {
    window.location.replace("{{ path('PartieConsulter', { 'id': partie.id }) }}");
  }
}, false);


</script>
{% include 'footerPlay.html.twig'%}
