{% include 'headerPlay.html.twig' with {'partie': question.partie} only %}

<div class="row justify-content-center" style="margin-top :5%;">
    <h1  style="font-size: 100.0px;color:{{question.partie.colortitre}};" class="text-center">{{question.partie.nom}} </h1>
</div>

<div class="row justify-content-center ">
	<div class="col-md-10 ">
		<p style="font-size: 50.0px;color:{{question.partie.colortext}};">{{question.numero}} - {{question.libelle}} </p>
	</div>
</div>
<div class="row justify-content-center" style="margin-top :10%;">
		<span style="font-size: 100.0px;color:{{question.partie.colorchrono}};" id="chronotime">0:00:00:00</span>
</div>

<script src="{{ asset('') }}js/chrono.js"></script>





<script>

chronoInit({{question.timer}},"{{ path('PlayReponse', { 'id': question.id}) }}");



document.addEventListener('keydown', (event) => {
  const nomTouche = event.key;

  if (nomTouche === 'Enter') {
		if(chronoIsStart == true){
			window.location.replace("{{ path('PlayReponse', { 'id': question.id}) }}");
		}else{
			chronoStart();
		}

    //
  }
  if (nomTouche === 'Escape') {
    window.location.replace("{{ path('PartieConsulter', { 'id': question.partie.id }) }}");
  }
}, false);


</script>
{% include 'footerPlay.html.twig'%}
